---
layout: layout-inside.liquid
title: Articles
description: Explore a collection of articles written by Ruben Serradas on various topics including technology, leadership, and personal development.
keywords: Ruben Serradas articles, technology, leadership, personal development, blog
---

<h1>Articles</h1>

Here are the latest articles:

<ul>
    {%- for article in collections.articles -%}
    <li><a href="{{article.url}}">{{ article.data.title }} - {{article.date | date: "%Y-%m-%d"}}</a></li>
    {%- endfor -%}
</ul>
