---
layout: layout-inside.liquid
title: Serradas.org - in English!
---

<p>
Hello, I hope you can find something nice here.
</p>

<p>
{% assign latestPost = collections.articles | sort: 'date' | reverse | first %}
For starters, you can check my latest article <a href="{{ latestPost.url }}">here</a>
</p>
