---
layout: layout-inside.liquid
title: Articles
description: Explore a collection of articles written by Ruben Serradas on various topics including technology, leadership, and personal development.
keywords: Ruben Serradas articles, technology, leadership, personal development, blog
---

<h1>Articles</h1>

<p>Here are the latest articles:</p>

{% assign articles = collections.articles | sort: 'date' | reverse %}
<ul>
    {%- for article in articles -%}
			<li><a href="{{article.url | url }}">{{article.date | date: "%d-%m-%Y"}} - {{ article.data.title }}</a></li>
    {%- endfor -%}
</ul>
