---
layout: layout.liquid
---
 <div style="text-align: center; padding-top: 6rem">
     <p>Hello friend, this is my website.</p>
     <p>Hope you have a good time.</p>
     <p>[ Español, <a href="/en/index">English</a>, Deutsch, 中文]</p>
     <p>Love,</p>
     <p>Ruben</p>
 </div>
