/* Taking code from https://github.com/oxalorg/sakura/blob/master/css/sakura.css */
/*
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}
*/

body {
    font-size: 1.5rem;
    max-width: 28em;
    margin: auto;
    padding: 0.3rem;
}