---
layout: layout.liquid
sitle: Serradas.org
description: Welcome to the English version of Ruben Serradas' personal website. Discover articles, projects, and insights shared by Ruben in a friendly and engaging manner.
keywords: Ruben Serradas, personal website, multilingual, projects, interests, blog
---

<body class="landing-page">

	<div>
		<h1>Serradas.org</h1>
	</div>

	<div class="vertical-line"></div>

	<div>
			<a href="{{ '/articles' | url }}">articles</a>
			<br>
			<br>
			<a href="mailto:ruben@serradas.org">contact</a>
			<br>
			<br>
			<a href="https://linkfed.4d6.studio/profile/rbnjs">code</a>
			<br>
			<br>
			social: [<a href="https://fosstodon.org/@rbnjs">mastodon</a>, <a href="https://linkfed.4d6.studio/profile/rbnjs">linkfed</a>]
	</div>

</body>
