---
layout: layout-inside.liquid
title: Serradas.org
description: Welcome to the English version of Ruben Serradas' personal website. Discover articles, projects, and insights shared by Ruben in a friendly and engaging manner.
keywords: Ruben Serradas, personal website, multilingual, projects, interests, blog
---

<p>Hello friend, this is my website.</p>

<p>Hope you have a good time.</p>

<hr>

<h6>Articles</h6>

<p>Some articles I've written</p>

{% assign latestArticles = collections.articles | sort: 'date' | reverse %}
<ul>
    {%- for article in latestArticles limit: 2 -%}
    <li><a href="{{article.url}}">{{ article.data.title }}</a></li>
    {%- endfor -%}
</ul>
