---
layout: layout.liquid
title: Serradas.org - Engineering, Leadership & Life
description: The personal website of Ruben Serradas.
keywords: Ruben Serradas, Elastic Leadership, Software Engineering, Taiwan, Ciceru, Buddhism, Mandala Chart, Personal Blog
---

<body class="landing-page">

	<main>
		<div>
				<h1><a href="{{ '/index-inside' | url }}">Serradas.org</a></h1>
			</div>

		<div class="vertical-line"></div>

		<div>
				<a href="{{ '/articles' | url }}">articles</a>, 
				<a href="{{ '/articulos' | url }}">artículos</a>
				<br>
				<br>
				<a href="mailto:ruben@serradas.org">contact</a>
				<br>
				<br>
				<a href="https://gitlab.com/rbnjs/">code</a>
				<br>
				<br>
				social: [<a href="https://fosstodon.org/@rbnjs">mastodon</a>]
		</div>
	</main>

</body>
