/* Taking code from https://github.com/oxalorg/sakura/blob/master/css/sakura.css */
:root {
	/* Taking these variables from brave */
	--lt-color-gray-100: #f8f9fc;
	--lt-color-gray-200: #f1f3f9;
	--lt-color-gray-300: #dee3ed;
	--lt-color-gray-400: #c2c9d6;
	--lt-color-gray-500: #8f96a3;
	--lt-color-gray-600: #5e636e;
	--lt-color-gray-700: #2f3237;
	--lt-color-gray-800: #1d1e20;
	--lt-color-gray-900: #111213;
}

html {
	font-family: "Source Serif 4", "Helvetica Neue", "Helvetica", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, "Noto Sans", sans-serif;
}

body {
	font-size: 1.5rem;
	margin: auto;
	padding: 0.3rem;
	line-height: 2.1rem;
	max-width: 32em;
}

p {
	text-align: justify;
	hyphens: auto;
}


body {
	background-color: #fff;
	color: var(--lt-color-gray-800);
}

nav {
	margin-bottom: 1rem;
	margin-top: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
	font-weight: 600;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-word;
	word-break: break-word;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.6em;
}

h4 {
	font-size: 1.4em;
}

h5 {
	font-size: 1.2em;
}

h6 {
	font-size: 1.0em;
}

img,
video {
	height: auto;
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
	padding-left: 1.4em;
	margin-top: 0px;
	margin-bottom: 2.5rem;
}

li {
	margin-bottom: 0.4em;
}

a {
	color: inherit;
	transition-property: background;
	transition-duration: 0.6s;
	text-decoration: none;
	font-style: italic;
}

a:hover {
	background: var(--lt-color-gray-700);
	color: var(--lt-color-gray-200);
	text-decoration: none;
}

footer {
	font-size: 1.2rem;
}

.footer-sitemap {
	display: flex;
	justify-content: space-between;
}

.footer-sitemap h3 {
	font-size: 1.4rem;
}

.footer-sitemap ul {
	list-style: none;
	margin-left: -1.2rem;
	margin-top: -1rem;
}

footer>p {
	text-align: center;
}

/* source-serif-4-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Serif 4';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/source-serif-4-v8-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-serif-4-700 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Source Serif 4';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/source-serif-4-v8-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body.landing-page {
	margin-top: 33%;
	background-color: var(--lt-color-gray-900);
	color: var(--lt-color-gray-100);
	display: flex;
	align-items: center;
	/* Center vertically */
	justify-content: center;
	/* Center horizontally */
	height: 90vh;
	/* Full viewport height */
	margin: 0;
	/* Remove default margin */
}

.landing-page main {
	display: flex;
	align-items: center;
	height: 100%;
}

@media (min-width: 600px) {
	body.landing-page {
		font-size: 3rem;
	}
}

.vertical-line {
	width: 1px;
	/* Line width */
	height: 100%;
	/* Line height */
	background-color: var(--lt-color-gray-100);
	/* Line color */
	margin-left: 0.6rem;
	margin-right: 0.5rem;
}
