---
layout: layout.liquid
---

<nav>
    <a href="/en/index">Home</a>
    <ul>
        <li><a href="/en/about">About</a></li>
        <li><a href="https://github.com/rbnjs">Code</a></li>
    </ul>
</nav>
{{content}}
