---
layout: layout.liquid
---

<nav>
	<span><a href="/index">Home</a></span>
	<span >[ <a href="/about">About</a>, <a href="https://rbnjs.c.4d6.studio/">Code</a> ]</span>
</nav>
<hr>
{{content}}
<hr>
<footer>
	<div class="footer-sitemap">
		<div>
		<h6>Social</h6>
		<ul>
			<li><a rel="me" href="https://fosstodon.org/@rbnjs">Mastodon</a></li>
			<li><a href="https://rbnjs.c.4d6.studio/">Capy</a></li>
		</ul>
		</div>
		<div>
			<h6>Posts</h6>
			<ul>
				<li><a href="/articles">Articles</a></li>
				<li><a href="/recipes">Recipes</a></li>
			</ul>
		</div>
		<div>
			<h6>Contact</h6>
			<ul>
				<li><a href="mailto:ruben@serradas.org">email</a></li>
			</ul>
		</div>

	</div>
	<p>Copyright <a href="https://serradas.org/">serradas.org</a></p>
	<p>This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
</footer>
