---
layout: layout.liquid
---

<nav>
    <h1><a href="/en/index">Home</a></h1>
    <span>[ <a href="/en/articles">Articles</a>, <a href="/en/about">About</a>,  <a href="https://github.com/rbnjs">Code</a> ]</span>
</nav>
{{content}}
