---
layout: layout.liquid
---

<nav>
	<span><a href="/index">Home</a></span>
	<span >[ <a href="/recipes">Recipes</a> , <a href="/articles">Articles</a>, <a href="/about">About</a>,  
	<a href="https://rbnjs.c.4d6.studio/">Code</a> ]</span>
</nav>
<hr>
{{content}}
<hr>
	<p>Copyright <a href="https://serradas.org/">serradas.org</a></p>
<footer>
	<div>
	<h6>Social</h6>
	<ul>
		<li><a rel="me" href="https://fosstodon.org/@rbnjs">Mastodon</a></li>
		<li><a rel="me" href="https://rbnjs.c.4d6.studio/">Capy</a></li>
	</ul>
	</div>
	<div>
	<h6>Posts</h6>
	</div>
	<div>
		<h6>Contact</h6>
	</div>


</footer>
<p>This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
