---
layout: layout.liquid
---

<nav>
    <a href="/en/index">Home</a>
    <ul>
        <li><a href="/en/notes">Notes</a></li>
        <li><a href="/en/links">Links</a></li>
        <li><a href="/en/about">About</a>
            <ul>
                <li><a href="/en/about">About</a></li>
                <li><a href="/en/about/privacy">Privacy</a></li>
                <li><a href="/en/about/cookies">Cookies</a></li>
            </ul>
        </li>
    </ul>
</nav>
<hr></hr>
{{content}}
<hr></hr>
<p>
This work is licensed under <a href="http://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1">CC BY-NC 4.0</a>
</p>
