---
layout: layout.liquid
---

<nav>
	<span><a href="/index">Home</a></span>
	<span >[ <a href="/recipes">Recipes</a> , <a href="/articles">Articles</a>, <a href="/about">About</a>,  <a href="https://github.com/rbnjs">Code</a> ]</span>
</nav>
<hr>
{{content}}
<hr>
<p>This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
